*{
    padding: 0%;
    margin: 0%;
}

.container{
    margin: 100px auto;
    padding:80px 40px 30px;
    align-items: center;
    text-align: center;
    max-width: 1500px;
}
/* #canvas{
    background-color:rgb(230, 230, 230); 
     cursor: pointer;
} */

.musicControllers >button{
    width: 110px;
    height:55px;
    border-radius:30px;
    background:white;
    border: 1px solid gray;
    margin-top:10px;
    cursor: pointer;
}
.fas{
    font-size:25px;
    color: aqua;
}
.musicControllers{
    width:100px;
    margin: auto;
}
